<div class="flex flex-col lg:flex-row gap-4">
    <!-- Sol Panel (Profil Bilgileri) -->
    <div class="w-full lg:w-5/12 flex justify-center">
        <div class="flex flex-col items-center justify-center w-full">
            <div
                style="border-radius: 56px; padding: 0.3rem; background: linear-gradient(180deg, var(--primary-color) 10%, rgba(33, 150, 243, 0) 30%)">
                <div class="w-full bg-surface-0 dark:bg-surface-900 py-5 px-4 sm:px-8" style="border-radius: 53px">
                    <!-- Profil Adı -->
                    <div class="text-center mb-4">
                        <a target="_blank" rel="noopener noreferrer"
                           class="text-primary font-bold hover:underline text-xl inline-block">
                            {{ name }}
                        </a>
                    </div>

                    <!-- Takipçi - Takip -->
                    <div class="flex flex-wrap justify-center items-center gap-4 mb-4">
                        <div class="flex items-center gap-2">
                            <span *ngIf="firstThreeUsers.length > 0">Takipçi</span>
                            <p-avatar-group>
                                <ng-container *ngFor="let item of firstThreeUsers">
                                    <p-avatar *ngIf="item.imageUrl" [image]="filePath + item.imageUrl" size="large"
                                              shape="circle"/>
                                    <p-avatar *ngIf="!item.imageUrl" icon="pi pi-user" size="large" shape="circle"/>
                                </ng-container>
                                <p-avatar *ngIf="remainingUserCount > 0" [label]="'+' + remainingUserCount"
                                          shape="circle"
                                          size="large"/>
                            </p-avatar-group>
                        </div>

                        <div class="flex items-center gap-2">
                            <span *ngIf="firstThreeUsersFollower.length > 0">Takip</span>
                            <p-avatar-group>
                                <ng-container *ngFor="let item of firstThreeUsersFollower">
                                    <p-avatar *ngIf="item.imageUrl" [image]="filePath + item.imageUrl" size="large"
                                              shape="circle"/>
                                    <p-avatar *ngIf="!item.imageUrl" icon="pi pi-user" size="large" shape="circle"/>
                                </ng-container>
                                <p-avatar *ngIf="remainingUserCountFollower > 0"
                                          [label]="'+' + remainingUserCountFollower"
                                          shape="circle" size="large"/>
                            </p-avatar-group>
                        </div>
                    </div>

                    <!-- Resim Yükleme -->
                    <div *ngIf="!imageUrl && isMyPage" class="mb-4">
                        <p-fileUpload #uploader name="file" [customUpload]="true" (uploadHandler)="onUpload($event)"
                                      accept="image/*" maxFileSize="1000000" chooseLabel="Dosya Seç" cancelLabel="İptal"
                                      uploadLabel="Yükle">
                        </p-fileUpload>
                    </div>

                    <!-- Profil Resmi ve Sil Butonu -->
                    <div class="avatar-container text-center mb-6">
                        <p-avatar *ngIf="imageUrl" class="custom-avatar" [image]="filePath + imageUrl" size="xlarge"
                                  shape="circle"/>
                        <p-button *ngIf="imageUrl && isMyPage" (onClick)="onDeleteImage()" label="Resmi Sil"/>
                    </div>

                    <!-- Form -->
                    <form #registerForm="ngForm" novalidate class="flex flex-col gap-4">
                        <div>
                            <label for="name" class="block font-medium">Adı</label>
                            <input pInputText id="name" name="name" type="text" placeholder="Adı"
                                   class="w-full" [(ngModel)]="name" required [disabled]="!isMyPage"/>
                        </div>

                        <div>
                            <label for="surname" class="block font-medium">Soyadı</label>
                            <input pInputText id="surname" name="surname" type="text" placeholder="Soyadı"
                                   class="w-full" [(ngModel)]="surname" required [disabled]="!isMyPage"/>
                        </div>

                        <div>
                            <label for="mail" class="block font-medium">Email</label>
                            <input pInputText id="mail" name="mail" type="email" placeholder="Mail adresi"
                                   class="w-full" [(ngModel)]="mail" required email [disabled]="!isMyPage"/>
                        </div>

                        <div>
                            <label for="password" class="block font-medium">Şifre</label>
                            <p-password id="password" name="password" [(ngModel)]="password" placeholder="Şifre"
                                        [toggleMask]="true" styleClass="w-full" [fluid]="true" [feedback]="false"
                                        required [disabled]="!isMyPage"></p-password>
                        </div>

                        <div>
                            <label for="location" class="block font-medium">Lokasyon</label>
                            <input pInputText id="location" name="location" type="text" placeholder="Lokasyon"
                                   class="w-full" [(ngModel)]="location" required [disabled]="!isMyPage"/>
                        </div>

                        <div>
                            <p-button *ngIf="isMyPage" label="Güncelle" styleClass="w-full"
                                      [disabled]="!registerForm.valid" (onClick)="update()"></p-button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- Sağ Panel (Gönderiler) -->
    <div class="w-full lg:w-7/12">
        <app-post [isProfilePage]="true"></app-post>
    </div>
</div>

<p-toast/>
